.myButtons {
	width: 100%;
	text-align:center;
	padding: 0px 0px 10px 0px;
	background-color: #FFA500;
}

#myCanvas{
	padding: 0;
	margin: auto;
	display: block;
}

.canv {
	display: inline;
	border: 1px solid #000000;
}
