body {
	background-color: #264653;
}

.btncls {
	border: none;
	background-color: #2A9D8F;
}

.myButtons {
	width: 100%;
	text-align:center;
	padding: 0px 0px 10px 0px;
}

#myCanvas{
	padding: 0;
	margin: auto;
	display: block;
}

.canv {
	display: inline;
	border: 1px solid #000000;
}
